  <%= form_for @prescription do |f| %>
    Drug name? <%=fields_for :drug do |drug_form| %><br>
        <%= drug_form.text_field :name %>
      <% end %><br>
    Doctor <%=fields_for :doctor do |doctor_form| %><br>
    <% if current_user.doctors.length < 1 %>
    <%= radio_button_tag(:doc_type, "new", checked: 'checked') %> New Doctor: 
        First Name<%= doctor_form.text_field :first_name %>
        Last Name<%= doctor_form.text_field :last_name %>
        Location<%= doctor_form.text_field :location %> <br>
    <% else %>
    <%= radio_button_tag(:doc_type, "existing", checked: 'checked') %> My Doctors: 
      <%= doctor_form.select :doctor, current_user.doctors_names, prompt: "select" %><br>
    <%= radio_button_tag(:doc_type, "new") %> New Doctor: 
        First Name<%= doctor_form.text_field :first_name %>
        Last Name<%= doctor_form.text_field :last_name %>
        Location<%= doctor_form.text_field :location %> <br>
      <% end %><br>
    <% end %>  
    Pharmacy name? <%=fields_for :pharmacy do |pharmacy_form| %><br>
    <% if current_user.pharmacies.length < 1  %>  
        <%= radio_button_tag(:pharm_type, "new", checked: 'checked') %> New pharmacy: 
        Name<%= pharmacy_form.text_field :name %>
        Location<%= pharmacy_form.text_field :location %> <br>  
    <% else %>
          <%= radio_button_tag(:pharm_type, "existing", checked: 'checked') %> My Pharmacies: 
      <%= pharmacy_form.select :pharmacy, current_user.pharmacy_names, prompt: "select" %><br>
    <%= radio_button_tag(:pharm_type, "new") %> New pharmacy: 
        Name<%= pharmacy_form.text_field :name %>
        Location<%= pharmacy_form.text_field :location %> <br>  
    <% end %>  

      <% end %><br>


    Prescription Length (in days): <br>
    <%= f.number_field :fill_duration, min: 0 %> <br>

    How many refills? <br>
    <%= f.number_field :refills, min: 0 %><br>

    Start date? <br>
    <%= f.date_field :start_date, :value => Date.today %><br>

    Dose size?<br>
     <%= f.text_field :dose_size, placeholder: "ex. 2 pills, 40 mg"%><br>

    How many doses will you be taking at the following times? <br>
    Morning: <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :morning, [0, 1, 2, 3, 4, 5, 6, 7] %>
    <% end %><br>

    Afternoon: <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :afternoon, [0, 1, 2, 3, 4, 5, 6, 7] %>
    <% end %><br>

    Evening: <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :evening, [0, 1, 2, 3, 4, 5, 6, 7] %>
    <% end %><br>

    Bedtime: <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :bedtime, [0, 1, 2, 3, 4, 5, 6, 7] %>
    <% end %><br><br>
    <%= f.submit "Add New Prescription!" %>
    <div class="modal-footer">
      
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <!-- 
       <button type="button" class="btn btn-primary">Save changes</button> -->
     </div>
  <% end %>

