<html>
<head>
  <title></title>
</head>
<body>

  <%= form_for @prescription do |f| %>
    Drug name? <%=fields_for :drug do |drug_form| %><br>
        <%= drug_form.text_field :name, value: @prescription.drug.name %>
      <% end %><br>

    Doctor <%=fields_for :doctor do |doctor_form| %><br>
    
    <%= radio_button_tag(:doc_type, "existing", checked: 'checked') %> My Doctors: 
      <%= doctor_form.select :doctor, current_user.doctors_names, selected: nil %><br>
    <%= radio_button_tag(:doc_type, "new") %> New Doctor: 
        First Name<%= doctor_form.text_field :first_name %>
        Last Name<%= doctor_form.text_field :last_name %> 
        Location<%= doctor_form.text_field :location %> <br>
      <% end %><br>
      
    Pharmacy name? <%=fields_for :pharmacy do |pharmacy_form| %><br>
    
      <%= radio_button_tag(:pharm_type, "existing", checked: 'checked') %> My Pharmacies: 
      <%= pharmacy_form.select :pharmacy, current_user.pharmacy_names %><br>
    <%= radio_button_tag(:pharm_type, "new") %> New pharmacy: 
        Name<%= pharmacy_form.text_field :name %>
        Location<%= pharmacy_form.text_field :location %> <br>
      <% end %><br>

    


    How many days? <br>
    <%= f.number_field :fill_duration, min: 0%> <br>

    How many refills? <br>
    <%= f.number_field :refills, min: 0 %><br>

    Start date? <br>
    <%= f.date_field :start_date, :value => Date.today %><br>

    Dose size?<br>
     <%= f.text_field :dose_size %><br>

    What is your medication schedule? <br>
    Morning: <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :morning, [0, 1, 2, 3, 4, 5, 6, 7], selected: @prescription.daily_schedule[:morning] %>
    <% end %><br>

    Afternoon: <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :afternoon, [0, 1, 2, 3, 4, 5, 6, 7], selected: @prescription.daily_schedule[:afternoon] %>
    <% end %><br>

    Evening: <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :evening, [0, 1, 2, 3, 4, 5, 6, 7], selected: @prescription.daily_schedule[:evening] %>
    <% end %><br>

    Bedtime: <%=fields_for :scheduled_doses do |scheduled_dose_form| %>
      <%= scheduled_dose_form.select :bedtime, [0, 1, 2, 3, 4, 5, 6, 7], selected: @prescription.daily_schedule[:bedtime] %>
    <% end %><br>

    <%= f.submit "Edit Prescription!" %>
  <% end %>

</body>
</html>