<div class='container-fluid'>
  <div class='pillbox-container'>
    <div class="row pillbox-row">
      <div class="col-xs-12 pillbox-cell-head">
        <%= Time.now.strftime("%A %B %d") %>, <%= Time.now.strftime("%Y") %>
      </div>
    </div>
    <div class="row pillbox-row">
      <div class="col-xs-3 pillbox-cell pillbox-cell-morning">
        <div class='icon-container'><%= image_tag 'morning.png', class: 'morning-icon' %></div>
        <% @user.prescriptions_by_time_of_day('morning').each do |drug| %>
        <br><%= drug[:name] %> (<%= drug[:dose_size] %>)
        <% if drug[:doses] != 1 %>
          x<%= drug[:doses] %>
        <% end %>
          <% if drug[:interactions].length > 0 %>
            <div class='warning-icon-container'>
              <%= image_tag 'warning.png', class: 'warning-icon' %>
              <div class='warning-message morning-warning-message'>
                <% drug[:interactions].each do |interaction| %>
                  <span class='warning-headline'>Interacts with <%= interaction[:drug_name] %></span><br>
                  <%= interaction[:interaction] %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-3 pillbox-cell pillbox-cell-afternoon">
        <div class='icon-container'><%= image_tag 'afternoon.png', class: 'afternoon-icon' %></div>
        <% @user.prescriptions_by_time_of_day('afternoon').each do |drug| %>
        <br><%= drug[:name] %> (<%= drug[:dose_size] %>)
        <% if drug[:doses] != 1 %>
          x<%= drug[:doses] %>
        <% end %>
          <% if drug[:interactions].length > 0 %>
            <div class='warning-icon-container'>
              <%= image_tag 'warning.png', class: 'warning-icon' %>
              <div class='warning-message afternoon-warning-message'>
                <% drug[:interactions].each do |interaction| %>
                  <span class='warning-headline'>Interacts with <%= interaction[:drug_name] %></span><br>
                  <%= interaction[:interaction] %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-3 pillbox-cell pillbox-cell-evening">
      <div class='icon-container'><%= image_tag 'evening.png', class: 'evening-icon' %></div>
        <% @user.prescriptions_by_time_of_day('evening').each do |drug| %>
        <br><%= drug[:name] %> (<%= drug[:dose_size] %>)
        <% if drug[:doses] != 1 %>
          x<%= drug[:doses] %>
        <% end %>
          <% if drug[:interactions].length > 0 %>
            <div class='warning-icon-container'>
              <%= image_tag 'warning.png', class: 'warning-icon' %>
              <div class='warning-message evening-warning-message'>
                <% drug[:interactions].each do |interaction| %>
                  <span class='warning-headline'>Interacts with <%= interaction[:drug_name] %></span><br>
                  <%= interaction[:interaction] %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="col-xs-3 pillbox-cell pillbox-cell-bedtime">
      <div class='icon-container'><%= image_tag 'bedtime.png', class: 'bedtime-icon' %></div>
        <% @user.prescriptions_by_time_of_day('bedtime').each do |drug| %>
        <br><%= drug[:name] %> (<%= drug[:dose_size] %>)
        <% if drug[:doses] != 1 %>
          x<%= drug[:doses] %>
        <% end %>
          <% if drug[:interactions].length > 0 %>
            <div class='warning-icon-container'>
              <%= image_tag 'warning.png', class: 'warning-icon' %>
              <div class='warning-message bedtime-warning-message'>
                <% drug[:interactions].each do |interaction| %>
                  <span class='warning-headline'>Interacts with <%= interaction[:drug_name] %></span><br>
                  <%= interaction[:interaction] %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row pillbox-row" id="refill-msgs">
    <div class="col-xs-12" id="exp-soon-div">
      <h3 id="exp-soon-header">Prescriptions Expiring Soon</h3>
      <table class="table" id="exp-soon-table">
        <tr>
          <th>Medication</th>
          <th>Expiration</th>
          <th>Refills Remaining</th>
        </tr>
        <% @user.upcoming_refills.each do |rx| %>
          <tr>
            <td><%= rx.drug.name %></td>
            <td><%= rx.format_date(rx.end_date) %>
            <td><%= rx.refills %></td>
            <td><%= button_to "Refilled", prescription_path(rx.id), method: 'POST' %></td>
          <% end %></tr>
      </table>
      
      <ul>
        
      </ul>
    </div>
    <!-- <div class="col-xs-2"></div> -->
  </div>
</div>









