<div class='container-fluid'>
  <div class='pillbox-container'>
    <div class="row pillbox-row">
      <div class="col-md-1"></div>
      <div class="col-md-2 pillbox-cell pillbox-cell-head">
      <%= Time.now.strftime("%A") %><br>
      <%= Time.now.strftime("%B %d") %>
      </div>
      <div class="col-md-2 pillbox-cell pillbox-cell-morning">
        <% @user.prescriptions_by_time_of_day('morning').each do |drug| %>
        <%= drug[:name] %> x<%= drug[:doses] %> (<%= drug[:dose_size] %>)<br>
        <% end %>
      </div>
      <div class="col-md-2 pillbox-cell pillbox-cell-afternoon">
        <% @user.prescriptions_by_time_of_day('afternoon').each do |drug| %>
        <%= drug[:name] %> x<%= drug[:doses] %> (<%= drug[:dose_size] %>)<br>
        <% end %>
      </div>
      <div class="col-md-2 pillbox-cell pillbox-cell-evening">
        <% @user.prescriptions_by_time_of_day('evening').each do |drug| %>
        <%= drug[:name] %> x<%= drug[:doses] %> (<%= drug[:dose_size] %>)<br>
        <% end %>
      </div>
      <div class="col-md-2 pillbox-cell pillbox-cell-bedtime">
        <% @user.prescriptions_by_time_of_day('bedtime').each do |drug| %>
        <%= drug[:name] %> x<%= drug[:doses] %> (<%= drug[:dose_size] %>)<br>
        <% end %>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>