
<div class='container-fluid'>
<!--   <div class="row pillbox-row">
    <div class="col-lg-1"></div>
    <div class="col-lg-2 pillbox-head">&nbsp</div>
    <div class="col-lg-2 pillbox-head-morning">Morning</div>
    <div class="col-lg-2 pillbox-head-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-head-evening">Evening</div>
    <div class="col-lg-2 pillbox-head-bedtime">Bedtime</div>
    <div class="col-lg-1"></div>
  </div> -->
  <div class='pillbox-container'>
  <div class="row pillbox-row">
    <div class="col-md-1"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-head">Sunday</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-morning"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-afternoon"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-evening"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-bedtime"></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-md-1"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-head">Monday</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-morning"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-afternoon"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-evening"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-bedtime"></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-md-1"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-head">Tuesday</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-morning"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-afternoon"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-evening"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-bedtime"></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-md-1"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-head">Wednesday</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-morning"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-afternoon"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-evening"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-bedtime"></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-md-1"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-head">Thursday</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-morning"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-afternoon"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-evening"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-bedtime"></div>
    <div class="col-md-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-md-1"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-head">Friday</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-morning">&nbsp</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-afternoon">&nbsp</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-evening">&nbsp</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-bedtime">&nbsp</div>
    <div class="col-md-1"></div>
  </div>
  <div class="row pillbox-row">
    <div class="col-md-1"></div>
    <div class="col-md-2 pillbox-cell pillbox-cell-head">Saturday</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-morning">&nbsp</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-afternoon">&nbsp</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-evening">&nbsp</div>
    <div class="col-md-2 pillbox-cell pillbox-cell-bedtime">&nbsp</div>
    <div class="col-md-1"></div>
  </div>
  </div>
  <!-- <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Monday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Tuesday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Wednesday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Thursday</div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2"></div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Friday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Saturday</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-head">Sunday</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-morning">Morning</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-afternoon">Afternoon</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-evening">Evening</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2 pillbox-cell pillbox-cell-bedtime">Bedtime</div>
    <div class="col-lg-2"></div>
    <div class="col-lg-2"></div>
  </div>
</div>
<!-- <div class='days-of-the-week-container'>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
  <div class='day-of-the-week'></div>
</div> -->
=======
<html>
<head>
  <title></title>
</head>
<body>
  <div>
    <%= @user.first_name %> <br>
    <%= @user.last_name %><br>
  </div>
  <br>
 <!--  <div>
    <% @user.prescriptions.each do |p| %><br>
      Dosage: <%= p.dosage %> <br>
      Doses: <%= p.doses %> <br>
      Drug: <%= p.drug.name %> <br>
      Doses/day: <%= p.doses_per_day %> <br>
      Refills: <%= p.refills %> <br>
      Fill Duration: <%= p.fill_duration %> <br>
      Start date: <%= p.start_date %> <br>
      End date: <%= p.end_date %> <br>
      Dr. <%= p.doctor.first_name %> <br>
    <% end %>
  </div> -->

  <div>
    <% @user.active_prescriptions.each do |p| %><br>
      Name: <%= p.drug.name %><br>
    <% end %>
  </div>
</body>
</html>

