<div class='container-fluid'>
  <div class='pillbox-container'>
    <div class="row pillbox-row">
    <div class="row pillbox-row">
      <div class="col-md-1"></div>
      <div class="col-md-2 pillbox-cell pillbox-cell-head">
      <%= Time.now.strftime("%A") %><br>
      <%= Time.now.strftime("%B %d") %>
      </div>
      <div class="col-md-2 pillbox-cell pillbox-cell-morning">
        <div class='icon-container'><%= image_tag 'morning.png', class: 'morning-icon' %></div>
        <% @user.prescriptions_by_time_of_day('morning').each do |drug| %>
        <%= drug[:name] %> x<%= drug[:doses] %> (<%= drug[:dose_size] %>)<br>
        <% end %>
      </div>
      <div class="col-md-2 pillbox-cell pillbox-cell-afternoon">
        <div class='icon-container'><%= image_tag 'afternoon.png', class: 'afternoon-icon' %></div>
        <% @user.prescriptions_by_time_of_day('afternoon').each do |drug| %>
        <%= drug[:name] %> x<%= drug[:doses] %> (<%= drug[:dose_size] %>)<br>
        <% end %>
      </div>
      <div class="col-md-2 pillbox-cell pillbox-cell-evening">
      <div class='icon-container'><%= image_tag 'evening.png', class: 'evening-icon' %></div>
        <% @user.prescriptions_by_time_of_day('evening').each do |drug| %>
        <%= drug[:name] %> x<%= drug[:doses] %> (<%= drug[:dose_size] %>)<br>
        <% end %>
      </div>
      <div class="col-md-2 pillbox-cell pillbox-cell-bedtime">
      <div class='icon-container'><%= image_tag 'bedtime.png', class: 'bedtime-icon' %></div>
        <% @user.prescriptions_by_time_of_day('bedtime').each do |drug| %>
        <%= drug[:name] %> x<%= drug[:doses] %> (<%= drug[:dose_size] %>)<br>
        <% end %>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>